* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.panel {
    margin-bottom: 0px;
    background-color: white;
}

.panel-logo {
    width: 150px;
}



.panel-body {
    padding: 0px; 
}

.facebooklogo > img {
    width: 20px;
}

.twitterlogo > img {
    width: 30px;
}

.button-row {
    text-align: center; 
}