* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

div.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-header {
    background-color: white;
    width: 100%;
    align-items: bottom;
}

.who {
    text-align: right;
    padding-left: 30px; 
}

/*this came in all squishy, so I had to fix the height and the weight.*/
.who img {
    width: 210px;
    height: 75px; 
}

.what {
    display: none;
}

.where {
    display: none; 
}

.navlinks {
    background-color: black;
    color: white; 
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 16px; 
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:visited {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: deeppink;
} 

img.facebooklogo {
    width: 12px;
}

img.twitterlogo {
    width: 25px; 
}

/*had to use this to get rid of the white strip of space between the header and main.*/
nav.navbar.navbar-default {
    margin: 0px; 
    border: 0px; 
}

/*start main body*/
main {
    background-position: center center;
    background-image: url(../img/background2.jpg);
    background-size: 100% 100%;
    text-align: center;
}

.details {
    color: deeppink;
    padding-top: 30px;
    align-content: right;
}

.details h2 {
    font-size: 25px; 
}

.date {
    padding-right: 0px;
}

.location {
    padding-left: 0px;
}

.mainheadline {
    padding-bottom: 110px;
    margin-bottom: 40px;
}

.mainheadline h1 {
    color: white;
    font-size: 40px; 
    text-align: center;
}

.info {
    display: none;
}

.button-laptop {
    display: none;
}

.btn {
    margin-right: 25px; 
    margin-top: 10px; 
    margin-bottom: 55px;
    padding: 15px 70px;
    border: 5px solid;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
}

.button-cell {
    text-align: center;
}

.button-attend {
    background-image: none;
    border-color: darkgray;
    color: black;
}

.button-register {
    background-color: yellowgreen;
    border-color: yellowgreen;
    color: black;
}

/*start section for second part of text*/
.description {
    padding: 0px 50px; 
    border-bottom: 10px deepskyblue solid;
}

.description h1 {
    font-size: 40px;
}

.description h2 {
    font-size: 20px;
    color: gray;
}

.description p {
    font-size: 20px; 
}

/*desktop?? laptop?? tablet?? yeah, this whole media thing is still waaaaay over my head.*/
@media all and (min-width: 767px) {
   .what {
       display: flex;
   }

   .what h3 {
       font-size: 18px; 
   }
   
   .where {
       display: flex;
        text-align: right; 
    }

    .where h3 {
        font-size: 18px; 
    }

    .navbar-header {
        padding-right: 100px;
        padding-left: 100px; 
    }

    .navlinks {
        padding-right: 100px;
        padding-left: 100px; 
    }

    .mainheadline {
    bottom-margin: 0px;
    padding-bottom: 0px;
    }

    .mainheadline h1 {
        font-size: 70px;
        bottom-margin: 20px;
    }

    .info {
        display: block;
        color: white;
        margin-bottom: 20px; 
    }

    .info p {
        font-size: 18px; 
        color: lightgrey;
    }
    
    .button-cell {
        display: none;
    }
    
    .button-laptop {
        display: block;
        margin-bottom: 60px; 
        padding-bottom: 35px; 
    }

    .button {
        padding: 15px 60px;
    }
    
    .button-attend laptop {
    background-image: none;
    border-color: darkgray;
    color: lightgray;
    }

    .description {
        text-align: center;
    }

    .description h1 {
    font-size: 50px;
    }

    .cell-break {
        display: none;
    }

    .description h2 {
        font-size: 30px; 
    }

    .description p {
        padding: 20px 110px 40px 110px; 
        font-size: 25px; 
    }
}
